<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="main">
        <select id="routes" class="form-value">
            <option value="enosh" selected>enosh</option>
            <option value="matanel">matanel</option>
            <option value="alef">alef</option>
            <option value="itshak">itshak</option>
        </select>
        <select id="area" class="form-value">
            <option value="region">Region</option>
            <option value="country">Country</option>
        </select>
        <input class="form-value" type="text"  id="area-input" placeholder="Zimbabuee...">
        <button onclick="sendRequest()">Send</button>
    </div>

    <div id="map">

    </div>

    <script src="./index.js"></script>
</body>
</html>