#main {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #d3d3d3;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: transparent;
    
}

button:hover {
    cursor: pointer;
    background-color: #d3d3d3;
    transition: all 1s ease-in-out;
}
