<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ebaad461f46c787d94a5da752bd561a6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ebaad461f46c787d94a5da752bd561a6" ></div>
        
</body>
<script>
    
    
            var map_ebaad461f46c787d94a5da752bd561a6 = L.map(
                "map_ebaad461f46c787d94a5da752bd561a6",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 2,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_a8c5f7ee663d2b3d86faa76cf7388a15 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_a8c5f7ee663d2b3d86faa76cf7388a15.addTo(map_ebaad461f46c787d94a5da752bd561a6);
        
    
            var circle_marker_0a5fb6ccf9e181e2b726ad759a2ad350 = L.circleMarker(
                [52.50153, 13.401851000000006],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 35.0, "stroke": true, "weight": 3}
            ).addTo(map_ebaad461f46c787d94a5da752bd561a6);
        
    
        var popup_7b4f51518d92f4623735a2461a4f5fb8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_125cd19417c7888bbf914be2cf0cf2dc = $(`<div id="html_125cd19417c7888bbf914be2cf0cf2dc" style="width: 100.0%; height: 100.0%;">             Region: Eastern Europe             Previous Year: 1970 (Attacks: 40)             Current Year: 1971 (Attacks: 12)             Change: -70.0%             </div>`)[0];
                popup_7b4f51518d92f4623735a2461a4f5fb8.setContent(html_125cd19417c7888bbf914be2cf0cf2dc);
            
        

        circle_marker_0a5fb6ccf9e181e2b726ad759a2ad350.bindPopup(popup_7b4f51518d92f4623735a2461a4f5fb8)
        ;

        
    
    
            var circle_marker_77fc54226814a6af440a9492e24fc06c = L.circleMarker(
                [37.77172560557181, -95.44049701759575],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 27.755, "stroke": true, "weight": 3}
            ).addTo(map_ebaad461f46c787d94a5da752bd561a6);
        
    
        var popup_11d683317d06b04afc86c1e5671bf984 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_037609d1159900c641d0aa0e7924a21e = $(`<div id="html_037609d1159900c641d0aa0e7924a21e" style="width: 100.0%; height: 100.0%;">             Region: North America             Previous Year: 1970 (Attacks: 944)             Current Year: 1971 (Attacks: 420)             Change: -55.51%             </div>`)[0];
                popup_11d683317d06b04afc86c1e5671bf984.setContent(html_037609d1159900c641d0aa0e7924a21e);
            
        

        circle_marker_77fc54226814a6af440a9492e24fc06c.bindPopup(popup_11d683317d06b04afc86c1e5671bf984)
        ;

        
    
</script>
</html>